.one{
  background-image: url("../img/ping1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  height: 80px;
}
#two{
  background-color: #058b8b;
  color: white;
}
#heading{
  color: black;
}
#three{
  background-color: #daf7a6;
}
